.mario1{
    height: 50px;
    width: 50px;
}

.mario2{
    height: 75px;
    width: 75px;
}

.mario3{
    height: 90px;
    width: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #edf1fe;
    padding: 30px;

}

label {
    font-size: 16px;
    color: #1b1b1b;
    margin-right: 8px;
}

select {
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #1f1f1f6e;
    margin-right: 10px;
}

input[type="submit"] {
    font-size: 15px;
    padding: 7px 14px;
    border-radius: 6px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    color: #4caf50;
    border: 1px solid #1f1f1f6e;
    font-size: 16px;
}

#container {
    margin-top: 30px;
}

#container input[type="text"] {
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #1f1f1f6e;
}

#feedback {
    margin-top: 10px;
    font-size: 15px;
}
